body {
	font-size:100%;
	font-family:Sans-Serif;
}

h1, h2, h3 {
	font-family:Serif;
	color:green;
}

img {
	float:right;
	border-width: 5px;
	border-style:solid;
    border-color: green;
}

div {
	float:right
}

blockquote {background-color:#C6C1C9;}

